%main.container{ style: 'max-width: 400px; margin-top: 2rem;' }
  %h1 Sign in
  
  = form_with url: login_path, local: true do |f|
    %div
      = f.label :email
      = f.email_field :email, required: true, autofocus: true, autocomplete: "email"
    
    %div
      = f.label :password
      = f.password_field :password, required: true, autocomplete: "current-password"
    
    %div
      = f.check_box :remember_me
      = f.label :remember_me, "Remember me"
    
    %div
      = f.submit "Sign in", class: "contrast"
    
    %div{ style: 'text-align: center; margin-top: 1rem;' }
      Don't have an account?
      = link_to "Sign up", signup_path