= render "devise/shared/error_messages", resource: resource
%h3 Edit Year View
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo': false, method: :put }) do |f|
  .field.mb-3
    = f.label :year_view, class: 'form-label'
    %br/
    = f.number_field :year_view, class: 'form-control'
  .field.mb-3
    = f.label :current_password, class: 'form-label'
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
  .actions
    = f.submit "Update", class: 'btn btn-primary'

%br
%hr
%br

%h3 Edit Email/Password
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo': false, method: :put }) do |f|
  .field.mb-3
    = f.label :email, class: 'form-label'
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .field.mb-3
    = f.label :password, class: 'form-label'
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "new-password", class: 'form-control'
    - if @minimum_password_length
      %br/
      %em
        = @minimum_password_length
        characters minimum
  .field.mb-3
    = f.label :password_confirmation, class: 'form-label'
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  .field.mb-3
    = f.label :current_password, class: 'form-label'
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
  .actions
    = f.submit "Update", class: 'btn btn-primary'

%br
%hr
%br

%h3 Download Entries (CSV)
= link_to "Download", export_entries_path(format: 'csv'), class: 'btn btn-warning'

%br
%hr
%br

%h3 Cancel my account
%p
  Unhappy? #{ button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-warning' }
