= form_for @entry do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entry.errors.count, "error")} prohibited this entry from being saved:"
      %ul
        - @entry.errors.full_messages.each do |message|
          %li= message

  %div.row{ style: 'display: flex; flex-direction: row; flex-wrap: wrap; gap: 6px;' }
    %div{ 'data-controller': 'date-picker', style: 'flex-grow: 1;' }
      = f.label :date
      = f.date_field :date, { id: "#{@entry.id ? '' : 'date-picker'}", 'data-voice-recorder-target': 'dateField' }
    %div
      = f.label :amount
      = f.number_field :amount, { placeholder: '$0.00', step: '.01', inputmode: "decimal", style: 'width: 130px;', 'data-voice-recorder-target': 'amountField' }
    %div{ style: 'flex-grow: 3;' }
      = f.label :category
      = f.collection_select :category_id, @categories, :id, :name, { include_blank: true }, { 'data-voice-recorder-target': 'categorySelect' }
    %div{ style: 'width: 100%;' }
      = f.label :notes
      = f.text_area :notes, { 'data-voice-recorder-target': 'notesField' }
  %fieldset{ 'data-controller': 'tag' }
    = f.fields_for :tag do |nested_form|
      = nested_form.label :name, 'Tag'
      %div{ style: 'display: flex; justify-content: space-between;' }
        = nested_form.text_field :name, { id: 'tag', style: 'margin-end: 10px;' }
        = nested_form.hidden_field :_destroy, { id: 'tag-destroy' }
        %button{ id: 'destroy-btn', style: "#{'display: none;' unless @entry.tag_id}", data: { action: "click->tag#remove:prevent" } } Remove
        %button{ id: 'restore-btn', style: 'display: none;', data: { action: "click->tag#restore:prevent" } } Restore
  = f.submit 'Save'
