%p.mt-3.mb-0 Sum: #{number_to_currency(@entries.sum(&:amount))}
#entries
  %table.styled-table{ data: { controller: 'clickable-row' } }
    %thead
      %tr
        %th{scope: "col"}
          = sort_link @q, :date, { data: { turbo_frame: 'search', turbo_prefetch: false } }
        %th{scope: "col"}
          = sort_link @q, :amount, { data: { turbo_frame: 'search', turbo_prefetch: false } }
        %th{scope: "col"}
          = sort_link @q, :category_name, 'Category', { data: { turbo_frame: 'search', turbo_prefetch: false } }
        %th{scope: "col"} Notes
    %tbody
      - @entries.each do |entry|
        %tr.clickable-row{ data: { href: entry_path(entry) } }
          %td= entry.date
          %td= entry.amount
          %td= entry.category.name
          %td= entry.notes
