%h1 Entries
%a.btn.btn-primary.mb-3{ href: new_entry_path }
  %i.bi.bi-plus-circle-fill
  New Entry
%br
= form_with(url: '/filtered_entries') do |f|
  %div.mb-3
    = f.label :month, 'Month',  class: 'form-label'
    = f.select :month, options_for_select(Date::MONTHNAMES.zip(0..12), session[:entry_filter_month] || Date.today.month), {}, class: 'form-select d-inline-block', style: 'width:auto;'
    = f.label :year, 'Year', class: 'form-label'
    = f.select :year, options_for_select(@years, session[:entry_filter_year] || Date.today.year), { include_blank: true }, class: 'form-select d-inline-block', style: 'width:auto;'
    = f.label :income, 'Income', class: 'form-label'
    = f.select :income, options_for_select([true, false], session[:entry_filter_income]), { include_blank: true }, class: 'form-select d-inline-block', style: 'width:auto;'
    = f.label :category_id, 'Category', class: 'form-label'
    = f.collection_select :category_id, @categories, :id, :name, { include_blank: true, placeholder: 'all', selected: session[:entry_filter_category_id] }, class: 'form-select d-inline-block', style: 'width:auto;'
    = f.label :tag_id, 'Tag', class: 'form-label'
    = f.collection_select :tag_id, @tags, :id, :name, { include_blank: true, placeholder: 'all', selected: session[:entry_filter_tag_id] }, class: 'form-select d-inline-block', style: 'width:auto;'
  = f.submit "Filter", class: 'btn btn-primary'

= render partial: "entries", locals: { entries: @entries }
