%p#notice= notice

%p
  %b Date:
  = @entry.date
%p
  %b Amount:
  = @entry.amount
%p
  %b Notes:
  = @entry.notes
%p
  %b Category name:
  = @entry.category_name
%p
  %b Income:
  = @entry.income
%p
  %b Untracked:
  = @entry.untracked
%p
  %b Category:
  = @entry.category.name

= link_to 'Edit', edit_entry_path(@entry)
\|
= link_to 'Back', entries_path
\|
= link_to 'Destroy', entry_path(@entry), class: 'btn btn-primary', data: { 'turbo-method': :delete }
