%h2 Recurring Expense
%p
  %b Name:
  = @recurrable.name
%p
  %b Schedule:
  = @recurrable.schedule_string
%p
  %b Amount:
  = @recurrable.amount
%p
  %b Notes:
  = @recurrable.notes
%p
  %b Category:
  = @recurrable.category.name
%p
  %b Tag:
  = @recurrable.tag&.name

= link_to 'Edit', edit_recurrable_path(@recurrable)
\|
= link_to 'Back', recurrables_path
