%h1 Charts

= turbo_frame_tag 'charts_frame' do
  .chart-tabs
    %nav.tabs
      = link_to "P&L", charts_path(tab: 'profit_loss'), 
        class: "tab-link #{'active' if @tab == 'profit_loss'}", 
        data: { turbo_frame: 'charts_frame' }
      = link_to "Heatmap", charts_path(tab: 'heatmap'), 
        class: "tab-link #{'active' if @tab == 'heatmap'}", 
        data: { turbo_frame: 'charts_frame' }
  
  - if @tab == 'profit_loss'
    .chart-controls
      = form_with url: charts_path, method: :get, data: { turbo_frame: 'charts_frame' } do |f|
        = f.hidden_field :tab, value: 'profit_loss'
        = f.label :year, 'Select Year:'
        = f.select :year, options_for_select(@available_years, @selected_year), {}, { onchange: 'this.form.requestSubmit()' }
    
    .chart-container
      %h2 Profit/Loss by Month - #{@selected_year}
      .total-pl
        %span.total-label Total P&L:
        %span{ class: "total-amount #{@total_profit_loss >= 0 ? 'positive' : 'negative'}" }
          = number_to_currency(@total_profit_loss)
      %canvas#profit-loss-chart{ 
        data: { 
          controller: 'profit-loss-chart',
          'profit-loss-chart-data-value': @monthly_data.to_json
        }
      }
  
  - elsif @tab == 'heatmap'
    .chart-controls
      = form_with url: charts_path, method: :get, data: { turbo_frame: 'charts_frame' } do |f|
        = f.hidden_field :tab, value: 'heatmap'
        = f.label :year, 'Select Year:'
        = f.select :year, options_for_select(@available_years, @selected_year), {}, { onchange: 'this.form.requestSubmit()' }
    
    .heatmap-container
      %h2 Daily Expenses - #{@selected_year}
      .heatmap-legend
        %span.legend-label Low
        .legend-gradient
        %span.legend-label High
        %span.legend-max= "(Max: #{number_to_currency(@heatmap_data[:max_expense])})"
      
      .heatmap-wrapper{ 
        data: { 
          controller: 'heatmap',
          'heatmap-data-value': @heatmap_data.to_json
        }
      }
        %svg#expense-heatmap{ width: '100%', height: '180', viewBox: '0 0 954 180' }