%div#data
  %h2 Totals
  %div{ style: 'display: flex; justify-content: space-between;' }
    %div
      %h5{ style: 'margin-bottom: 0;' } Total Spending
      %p{ style: 'text-align: center;'}= number_to_currency(@data.total_spending)
    %div
      %h5{ style: 'margin-bottom: 0;' } Total Income
      %p{ style: 'text-align: center;'}= number_to_currency(@data.total_income)
    %div
      %h5{ style: 'margin-bottom: 0;' } Profit/Loss
      %p{ style: 'text-align: center;'}= number_to_currency(@data.profit_loss)
  %hr
  %h2 Categories
  %div{ style: 'display: flex; justify-content: space-between; flex-wrap: wrap;' }
    - @data.category_totals.each do |category, total|
      %article{ style: 'margin: 0 10px 10px 0;'}
        %header{ style: 'text-align: center;'}= category
        %p{ style: 'text-align: center;'}= number_to_currency(total)
