%div#data
  %h2 Totals
  %div{ style: 'display: flex; justify-content: space-between;' }
    %div
      %h5{ style: 'margin-bottom: 0;' } Total Spending
      %p{ style: 'text-align: center;'}= number_to_currency(@data.total_spending)
    %div
      %h5{ style: 'margin-bottom: 0;' } Total Income
      %p{ style: 'text-align: center;'}= number_to_currency(@data.total_income)
    %div
      %h5{ style: 'margin-bottom: 0;' } Profit/Loss
      %p{ style: 'text-align: center;'}= number_to_currency(@data.profit_loss)
  %hr
  %h2 Categories
  %div{ style: 'display: flex; justify-content: space-between; flex-wrap: wrap;' }
    - @data.category_totals.each do |category, total|
      %article{ style: 'margin: 0 10px 10px 0;'}
        %header{ style: 'text-align: center;'}= category
        %p{ style: 'text-align: center;'}= number_to_currency(total)
  %hr
  %h2 Charts
  %input{ type: 'submit', name: 'commit', value: 'Pie Chart', class: 'btn btn-primary', formaction: '/turbo_charts/pie_chart', form: 'data_form' }
  %input{ type: 'submit', name: 'commit', value: 'Total by Category Bar Chart', class: 'btn btn-primary', formaction: '/turbo_charts/bar_chart', form: 'data_form' }
  %input{ type: 'submit', name: 'commit', value: 'Total Expense By Month', class: 'btn btn-primary', formaction: '/turbo_charts/total_by_month_bar_chart', form: 'data_form' }

  %div#chart
