%h1 Dashboard
= turbo_frame_tag 'filter' do
  = form_with(url: '/dashboard', html: { id: 'data_form', style: 'max-width: 300px;' }) do |f|
    %div{ style: 'display: flex;' }
      %div{ style: 'margin-right: 8px; width: 100%;' }
        = f.label :month, 'Month'
        = f.select :month, options_for_select(Date::MONTHNAMES.zip(0..12), Date.today.month)
      %div{ style: 'min-width: fit-content;' }
        = f.label :year, 'Year'
        = f.select :year, options_for_select(@years, Date.today.year), { include_blank: true }
    = f.submit "Filter"
%div#data
  = render partial: "data", locals: { data: @data }

