<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= category.income %>
  </p>

  <p>
    <strong>Untracked:</strong>
    <%= category.untracked %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= category.year %>
  </p>

</div>
