!!!
%html{ data: { theme: 'light' } }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sum
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "noindex, nofollow, noarchive", :name => "robots"}
    = csrf_meta_tags
    = csp_meta_tag
    -# PWA meta tags
    %meta{:name => "theme-color", :content => "#000000"}/
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}/
    %link{:rel => "manifest", :href => "/manifest.json"}/
    %link{ rel: "icon", href: "/favicon.ico", type: "image/x-icon" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon.png" }
    - %w(57 72 76 114 120 144 152 180).each do |size|
      %link{:rel => "apple-touch-icon", :sizes => "#{size}x#{size}", :href => image_url("/apple-touch-icon-#{size}x#{size}.png")}
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    = stylesheet_link_tag '_table'
    = stylesheet_link_tag '_navbar'
    = stylesheet_link_tag 'charts'
    = stylesheet_link_tag 'pwa'
    = javascript_importmap_tags
  %body
    .container
      -# PWA Install Prompt for iOS
      %div{ data: { controller: 'pwa-install' } }
        %article.hidden{ data: { 'pwa-install-target': 'prompt' }, style: 'position: fixed; bottom: 20px; left: 20px; right: 20px; z-index: 1000; margin: 0;' }
          %p{ style: 'margin: 0;' } Install Sum for quick access and a better experience!
          %footer{ style: 'display: flex; gap: 10px;' }
            %button{ data: { action: 'pwa-install#showInstructions' } } Install
            %button.secondary{ data: { action: 'pwa-install#dismiss' } } Not now
      %nav{ data: { controller: 'navbar' } }
        %ul
          - if user_signed_in?
            %li
              %button.contrast.toggle-button{ style: 'padding-left: .8rem; padding-right: .8rem; font-size: larger;', data: { action: 'click->navbar#toggle' } } ☰
          %li
            %button.contrast#dark-mode-toggle{ style: 'font-size: larger;', data: { controller: 'dark-mode', action: 'click->dark-mode#toggle' } }Sum ☽
        %ul{ data: { 'navbar-target': 'menu' }, class: "navbar menu" }
          - if user_signed_in?
            %li
              %a{ href: entries_path }
                Entries
            %li
              %a{ href: categories_path }
                Categories
            %li
              %a{ href: tags_path}
                Tags
            %li
              %a{ href: recurrables_path }
                Recurring
            %li.nav-item
              %a{ href: dashboard_path }
                Dashboard
            %li
              %a{ href: charts_path }
                Charts
            %li
              %a{ href: edit_user_path(current_user) }
                Account
      - flash.each do |type, msg|
        %article{ data: { controller: 'notification', 'notification-delay-value': '5000', 'transition-enter-from': 'opacity-0 translate-x-6', 'transition-enter-to': 'opacity-100 translate-x-0', 'transition-leave-from': 'opacity-100 translate-x-0', 'transition-leave-to': 'opacity-0 translate-x-6' }, class: "transition transform duration-1000 hidden" }
          = msg
          %footer
            %button{ data: { action: 'notification#hide' } } Close
      = yield
