!!!
%html{ data: { theme: 'light' } }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sum
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "noindex, nofollow, noarchive", :name => "robots"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: "icon", href: "/favicon.ico", type: "image/x-icon" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon.png" }
    - %w(57 72 76 114 120 144 152 180).each do |size|
      %link{:rel => "apple-touch-icon", :sizes => "#{size}x#{size}", :href => image_url("/apple-touch-icon-#{size}x#{size}.png")}
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    = stylesheet_link_tag '_table'
    = stylesheet_link_tag '_navbar'
    = javascript_importmap_tags
  %body
    .container
      %nav{ data: { controller: 'navbar' } }
        %ul
          %li
            %button.contrast.toggle-button{ style: 'padding-left: .8rem; padding-right: .8rem; font-size: larger;', data: { action: 'click->navbar#toggle' } } ☰
          %li
            %button.contrast#dark-mode-toggle{ style: 'font-size: larger;', data: { controller: 'dark-mode', action: 'click->dark-mode#toggle' } }Sum ☽
        %ul{ data: { 'navbar-target': 'menu' }, class: "navbar menu" }
          - if user_signed_in?
            %li
              %a{ href: entries_path }
                Entries
            %li
              %a{ href: categories_path }
                Categories
            %li
              %a{ href: tags_path}
                Tags
            %li
              %a{ href: recurrables_path }
                Recurring
            %li.nav-item
              %a{ href: dashboard_path }
                Dashboard
            %li
              %a{ href: edit_user_registration_path }
                Account
      - flash.each do |type, msg|
        %article{ data: { controller: 'notification', 'notification-delay-value': '5000', 'transition-enter-from': 'opacity-0 translate-x-6', 'transition-enter-to': 'opacity-100 translate-x-0', 'transition-leave-from': 'opacity-100 translate-x-0', 'transition-leave-to': 'opacity-0 translate-x-6' }, class: "transition transform duration-1000 hidden" }
          = msg
          %footer
            %button{ data: { action: 'notification#hide' } } Close
      = yield
