!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sum
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    = javascript_importmap_tags
  %body
    .container
      %nav.navbar.navbar-expand-lg.bg-light
        %div.container-fluid
          %a.navbar-brand.mb-0.h1 Sum
          - if user_signed_in?
            %button.navbar-toggler{ type: 'button', data: { bs: { target: "#navbarSupportedContent", toggle: "collapse" }, aria: { controls: "navbarSupportedContent", expanded: "false", label: "Toggle navigation" } } }
              %span.navbar-toggler-icon
            %div.collapse.navbar-collapse{ id: "navbarSupportedContent" }
              %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                %li.nav-item
                  %a.nav-link{ href: entries_url }
                    Entries
                %li.nav-item
                  %a.nav-link{ href: categories_url }
                    Categories
                %li.nav-item
                  %a.nav-link{ href: dashboard_path }
                    Dashboard
                %li.nav-item
                  %a.nav-link{ href: edit_user_registration_path }
                    Account
              = link_to "Sign Out", destroy_user_session_path, class: "btn btn-outline-secondary", data: { "turbo-method": :delete }
      - flash.each do |type, msg|
        .toast.show.position-absolute{ role: 'alert', 'aria-live': 'assertive', 'aria-atomic': 'true' }
          .toast-header
            = msg
            %button.btn-close{ 'aria-label': 'Close', 'data-bs-dismiss': 'toast', type: 'button' }
      = yield
